<header>
	<div
		class="text"
		(click)="showModal(helloModalTemplate)"
	>
		<h1>Hello mthrfckr</h1>
		<pre>{{ (user$ | async)?.email }}</pre>
	</div>
	<div class="pages">
		<ul class="pages-list">
			<li
				*ngFor="let page of pages"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: page.exact || false }"
			>
				<a [routerLink]="page.path">{{ page.title | titlecase }}</a>
			</li>
		</ul>
	</div>
	<div class="right">
		<span
			*ngIf="showPostsCount"
			class="quantity"
			>{{ (posts$ | async)?.length | zeroIfUndefinedOrNull | posts }}</span
		>
		<button
			class="btn theme"
			(click)="toggleDarkMode($event)"
		>
			{{ (darkTheme$ | async) ? 'Darkness..' : 'Light!' }}
		</button>
		<button
			class="btn theme"
			(click)="logout()"
		>
			Logout
		</button>
	</div>
	<mv-date-time></mv-date-time>
</header>

<ng-template #helloModalTemplate>
	<div class="modal-content">
		<h3>Hello mthrfckr!</h3>
		<p>That is dynamically generated modal window</p>
		<p>Even content template!</p>
		<p>Now just close me and fuck off</p>
	</div>
</ng-template>
