header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;

	.pages {
		padding: 0 10px;
		margin-left: auto;

		.pages-list {
			display: flex;
			gap: 10px;
			margin: 0;
			list-style: none;

			li {
				background-color: orange;
				border-radius: 8px;
				font-size: 1.25rem;
				color: black;
				padding: 0.5rem 1rem;
				transform: scale(0.75);
			}

			li.active {
				color: #ae00ff;
				transform: scale(1);
			}
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h1 {
		margin: 0;
		flex-grow: 1;
	}

	button {
		margin-left: auto;
		&.theme {
			width: 125px;
		}
	}

	.right {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.quantity {
		min-width: 120px;
		text-align: center;
		background-color: orange;
		border-radius: 8px;
		font-size: 1.25rem;
		color: black;
		padding: 0.5rem 1rem;
	}
}
