<h1>
	Hello,
	<pre>{{formData?.name}}</pre>
	with email
	<pre>{{formData?.email}}</pre>
</h1>
<p>You were successfully registered! But you should read our private policy</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur
	laudantium ratione consectetur doloribus temporibus quidem ipsam aliquid!
	Enim sint et praesentium? Neque atque dolore praesentium amet exercitationem,
	eius quibusdam beatae.
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur
	laudantium ratione consectetur doloribus temporibus quidem ipsam aliquid!
	Enim sint et praesentium? Neque atque dolore praesentium amet exercitationem,
	eius quibusdam beatae.
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur
	laudantium ratione consectetur doloribus temporibus quidem ipsam aliquid!
	Enim sint et praesentium? Neque atque dolore praesentium amet exercitationem,
	eius quibusdam beatae.
</p>
