<form
	class="form-wrapper"
	[formGroup]="form"
	(ngSubmit)="submit()"
>
	<div class="form-content">
		<div class="input-group">
			<label class="field">
				Email
				<input
					type="text"
					formControlName="email"
				/>
			</label>
			<label class="field">
				Name
				<input
					type="email"
					formControlName="name"
				/>
			</label>
		</div>
		<div class="input-group">
			<label class="field">
				Password
				<input
					type="password"
					formControlName="password"
				/>
			</label>
			<label class="field">
				Repeat password
				<input
					type="password"
					formControlName="repeatPassword"
				/>
			</label>
		</div>
		<div class="select-group">
			<label class="select-title field"
				>Country
				<select>
					<option value="Canada">Canada</option>
					<option value="USA">USA</option>
					<option value="Japan">Japan</option>
					<option value="Germany">Germany</option>
				</select>
			</label>
			<label class="select-radio field">
				<span>Sex</span>
				<label for="man">
					Man
					<input
						type="radio"
						name="sex"
						id="man"
					/>
				</label>
				<label for="woman">
					Woman
					<input
						type="radio"
						name="sex"
						id="woman"
					/>
				</label>
			</label>
		</div>
		<div class="skills-wrapper field">
			<label>Enter your skills</label>
			<div class="skills-add">
				<input type="text" />
				<button
					class="btn"
					type="button"
				>
					Add
				</button>
			</div>
			<div class="skills">Your skills will be there...</div>
		</div>
	</div>
	<button
		class="btn submit"
		type="submit"
		[disabled]="form.invalid"
	>
		Send
	</button>
</form>
