<form class="form-wrapper">
	<div class="form-content">
		<div class="input-group">
			<label class="field">
				Email
				<input type="text" />
			</label>
			<label class="field">
				Name
				<input type="text" />
			</label>
		</div>
		<div class="input-group">
			<label class="field">
				Password
				<input type="text" />
			</label>
			<label class="field">
				Repeat password
				<input type="text" />
			</label>
		</div>
		<div class="select-group">
			<label class="select-title field"
				>Country
				<select>
					<option value="Canada">Canada</option>
					<option value="USA">USA</option>
					<option value="Japan">Japan</option>
					<option value="Germany">Germany</option>
				</select>
			</label>
			<label class="select-title field"
				>City
				<select>
					<option value="Toronto">Toronto</option>
					<option value="New York">New York</option>
					<option value="Tokio">Tokio</option>
					<option value="Berlin">Berlin</option>
				</select>
			</label>
		</div>
		<div class="skills-wrapper field">
			<label>Enter your skills</label>
			<div class="skills-add">
				<input type="text" />
				<button
					class="btn"
					type="button"
				>
					Add
				</button>
			</div>
			<div class="skills">Your skills will be there...</div>
		</div>
	</div>
	<button
		class="btn submit"
		type="submit"
	>
		Send
	</button>
</form>
