<form
	class="form-wrapper"
	[formGroup]="form"
	(ngSubmit)="submit()"
>
	<div class="form-content">
		<div class="input-group">
			<label class="field required">
				Email
				<input
					type="text"
					formControlName="email"
				/>
				<div
					class="validation"
					*ngIf="form.get('email')?.invalid && form.get('email')?.touched"
				>
					<small *ngIf="form.get('email')?.errors?.['required']">
						Email can not be empty
					</small>
					<small *ngIf="form.get('email')?.errors?.['email']">
						Enter correct email
					</small>
				</div>
			</label>
			<label class="field">
				Name
				<input
					type="email"
					formControlName="name"
				/>
				<div
					class="validation"
					*ngIf="form.get('name')?.invalid && form.get('name')?.touched"
				>
					<small *ngIf="form.get('name')?.errors?.['required']">
						Name can not be empty
					</small>
					<small *ngIf="form.get('name')?.errors?.['minlength']">
						Min length is
						{{ form.get('name')?.errors?.['minlength']?.['requiredLength'] }}
						symbols. Enter
						{{ form.get('name')?.errors?.['minlength']?.['requiredLength'] - form.get('name')?.errors?.['minlength']?.['actualLength']}}
						more
					</small>
					<small *ngIf="form.get('name')?.errors?.['maxlength']">
						Max length is
						{{ form.get('name')?.errors?.['maxlength']?.['requiredLength'] }}
						symbols. Exceeded by
						{{ form.get('name')?.errors?.['maxlength']?.['actualLength'] - form.get('name')?.errors?.['maxlength']?.['requiredLength']}}
						characters
					</small>
				</div>
			</label>
		</div>
		<div
			class="input-group"
			formGroupName="passwords"
		>
			<label class="field">
				Password
				<input
					type="password"
					formControlName="password"
				/>
				<div
					class="validation"
					*ngIf="
						form.get('passwords')?.get('password')?.invalid &&
						form.get('passwords')?.get('password')?.touched
					"
				>
					<small
						*ngIf="form.get('passwords')?.get('password')?.errors?.['required']"
					>
						Password can not be empty
					</small>
					<small
						*ngIf="form.get('passwords')?.get('password')?.errors?.['minlength']"
					>
						Min length is
						{{ form.get('passwords')?.get('password')?.errors?.['minlength']?.['requiredLength'] }}
						symbols. Enter
						{{ form.get('passwords')?.get('password')?.errors?.['minlength']?.['requiredLength'] - form.get('passwords')?.get('password')?.errors?.['minlength']?.['actualLength']}}
						more
					</small>
					<small
						*ngIf="form.get('passwords')?.get('password')?.errors?.['maxlength']"
					>
						Max length is
						{{ form.get('passwords')?.get('password')?.errors?.['maxlength']?.['requiredLength'] }}
						symbols. Exceeded by
						{{ form.get('passwords')?.get('password')?.errors?.['maxlength']?.['actualLength'] - form.get('passwords')?.get('password')?.errors?.['maxlength']?.['requiredLength']}}
						characters
					</small>
				</div>
			</label>
			<label class="field">
				Repeat password
				<input
					type="password"
					formControlName="repeatPassword"
				/>
				<div
					class="validation"
					*ngIf="
						form.get('passwords')?.get('repeatPassword')?.touched &&
						form.get('passwords')?.get('repeatPassword')?.invalid
					"
				>
					<small
						*ngIf="form.get('passwords')?.errors?.['controlsAreEqual']"
					>
						Passwords are not equal
					</small>
					<small
						*ngIf="form.get('passwords')?.get('repeatPassword')?.errors?.['required']"
					>
						Password can not be empty
					</small>
					<small
						*ngIf="form.get('passwords')?.get('repeatPassword')?.errors?.['minlength']"
					>
						Min length is
						{{ form.get('passwords')?.get('repeatPassword')?.errors?.['minlength']?.['requiredLength'] }}
						symbols. Enter
						{{ form.get('passwords')?.get('repeatPassword')?.errors?.['minlength']?.['requiredLength'] - form.get('passwords')?.get('repeatPassword')?.errors?.['minlength']?.['actualLength']}}
						more
					</small>
					<small
						*ngIf="form.get('passwords')?.get('repeatPassword')?.errors?.['maxlength']"
					>
						Max length is
						{{ form.get('passwords')?.get('repeatPassword')?.errors?.['maxlength']?.['requiredLength'] }}
						symbols. Exceeded by
						{{ form.get('passwords')?.get('repeatPassword')?.errors?.['maxlength']?.['actualLength'] - form.get('passwords')?.get('repeatPassword')?.errors?.['maxlength']?.['requiredLength']}}
						characters
					</small>
				</div>
			</label>
		</div>
		<div class="select-group">
			<label
				class="select-title field"
				formGroupName="address"
				>Country
				<select
					formControlName="country"
					formControlName="country"
				>
					<option
						value="Country"
						disabled
					>
						Select country
					</option>
					<option value="Canada">Canada</option>
					<option value="USA">USA</option>
					<option value="Japan">Japan</option>
					<option value="Germany">Germany</option>
					<option value="France">France</option>
					<option value="Italy">Italy</option>
					<option value="Spain">Spain</option>
					<option value="Netherlands">Netherlands</option>
				</select>
				<div
					class="validation width-full"
					*ngIf="
						form.get('address')?.get('country')?.touched &&
						form.get('address')?.get('country')?.invalid
					"
				>
					<small
						*ngIf="form.get('address')?.get('country')?.errors?.['selectNonDefault']"
					>
						Choose the country
					</small>
				</div>
				<label class="sub-field">
					City
					<div class="input-button-wrapper">
						<input
							type="text"
							formControlName="city"
						/>
						<button
							class="btn"
							[ngClass]="{
								disabled:
									form.get('address')?.get('country')?.value ===
									'Country'
							}"
							type="button"
							[disabled]="
								form.get('address')?.get('country')?.value === 'Country'
							"
							(click)="setCapital()"
						>
							Set capital
						</button>
						<div
							class="validation column-full"
							*ngIf="
								form.get('address')?.get('city')?.invalid &&
								form.get('address')?.get('city')?.touched
							"
						>
							<small
								*ngIf="form.get('address')?.get('city')?.errors?.['required']"
							>
								City can not be empty
							</small>
							<small
								*ngIf="form.get('address')?.get('city')?.errors?.['minlength']"
							>
								Min length is
								{{ form.get('address')?.get('city')?.errors?.['minlength']?.['requiredLength'] }}
								symbols. Enter
								{{ form.get('address')?.get('city')?.errors?.['minlength']?.['requiredLength'] - form.get('address')?.get('city')?.errors?.['minlength']?.['actualLength']}}
								more
							</small>
							<small
								*ngIf="form.get('address')?.get('city')?.errors?.['maxlength']"
							>
								Max length is
								{{ form.get('address')?.get('city')?.errors?.['maxlength']?.['requiredLength'] }}
								symbols. Exceeded by
								{{ form.get('address')?.get('city')?.errors?.['maxlength']?.['actualLength'] - form.get('address')?.get('city')?.errors?.['maxlength']?.['requiredLength']}}
								characters
							</small>
						</div>
					</div>
				</label>
			</label>
			<label
				class="select-radio field"
				formGroupName="sex"
			>
				<span class="column-full">Sex</span>
				<label
					class="label-radio"
					for="man"
				>
					Man
					<input
						type="radio"
						name="sex"
						id="man"
						value="man"
						formControlName="sex"
					/>
				</label>
				<label
					class="label-radio"
					for="woman"
				>
					Woman
					<input
						type="radio"
						name="sex"
						id="woman"
						value="woman"
						formControlName="sex"
					/>
				</label>
				<label
					class="label-radio"
					for="other"
				>
					Other
					<input
						type="radio"
						name="sex"
						id="other"
						value="other"
						formControlName="sex"
					/>
				</label>
				<div
					class="validation column-full"
					*ngIf="
						form.get('sex')?.get('sex')?.touched &&
						form.get('sex')?.get('sex')?.invalid
					"
				>
					<small *ngIf="form.get('sex')?.get('sex')?.errors?.['required']">
						Select gender
					</small>
				</div>
				<label
					class="sub-field column-full"
					[ngClass]="{disabled: form.get('sex')?.value?.['sex'] !== 'other'}"
				>
					Other
					<input
						type="text"
						formControlName="other"
						[tabIndex]="form.get('sex')?.value?.['other'] !== 'other' ? -1 : 0"
					/>
					<div
						class="validation width-full"
						*ngIf="
							form.get('sex')?.get('other')?.invalid &&
							form.get('sex')?.get('other')?.touched
						"
					>
						<small
							*ngIf="form.get('sex')?.get('other')?.errors?.['required']"
						>
							Sex can not be empty
						</small>
						<small
							*ngIf="form.get('sex')?.get('other')?.errors?.['minlength']"
						>
							Min length is
							{{ form.get('sex')?.get('other')?.errors?.['minlength']?.['requiredLength'] }}
							symbols. Enter
							{{ form.get('sex')?.get('other')?.errors?.['minlength']?.['requiredLength'] - form.get('sex')?.get('other')?.errors?.['minlength']?.['actualLength']}}
							more
						</small>
						<small
							*ngIf="form.get('sex')?.get('other')?.errors?.['maxlength']"
						>
							Max length is
							{{ form.get('sex')?.get('other')?.errors?.['maxlength']?.['requiredLength'] }}
							symbols. Exceeded by
							{{ form.get('sex')?.get('other')?.errors?.['maxlength']?.['actualLength'] - form.get('sex')?.get('other')?.errors?.['maxlength']?.['requiredLength']}}
							characters
						</small>
					</div>
				</label>
			</label>
		</div>
		<div
			class="skills-wrapper-main field"
			formGroupName="skills"
		>
			<div class="left">
				<label>Enter your skills</label>
				<small class="skills-note"
					>Min length of skill name is 3 symbols. You can enter several
					skills separated by a space</small
				>
				<div class="skills-add">
					<input
						type="text"
						formControlName="skill"
						class="no-green"
						#skillNameInput
					/>
					<button
						class="btn"
						[ngClass]="{
							disabled: form.get('skills')?.get('skill')?.invalid
						}"
						type="button"
						(click)="addSkill()"
						[disabled]="form.get('skills')?.get('skill')?.invalid"
					>
						Add
					</button>
					<div
						class="validation"
						*ngIf="
							form.get('skills')?.get('skill')?.invalid &&
							form.get('skills')?.get('skill')?.touched
						"
					>
						<small
							*ngIf="form.get('skills')?.get('skill')?.errors?.['required']"
						>
							Skill name can not be empty
						</small>
						<small
							*ngIf="form.get('skills')?.get('skill')?.errors?.['minlength']"
						>
							Min length is
							{{ form.get('skills')?.get('skill')?.errors?.['minlength']?.['requiredLength'] }}
							symbols. Enter
							{{ form.get('skills')?.get('skill')?.errors?.['minlength']?.['requiredLength'] - form.get('skills')?.get('skill')?.errors?.['minlength']?.['actualLength']}}
							more
						</small>
						<small
							*ngIf="form.get('skills')?.get('skill')?.errors?.['maxlength']"
						>
							Max length is
							{{ form.get('skills')?.get('skill')?.errors?.['maxlength']?.['requiredLength'] }}
							symbols. Exceeded by
							{{ form.get('skills')?.get('skill')?.errors?.['maxlength']?.['actualLength'] - form.get('skills')?.get('skill')?.errors?.['maxlength']?.['requiredLength']}}
							characters
						</small>
					</div>
				</div>
			</div>
			<div class="skills">
				<div
					class="skills-content"
					[ngClass]="{ 'flex-center': !skillsControls.length }"
				>
					<p *ngIf="!skillsControls?.length; else skillsTemplate">
						Your skills will be there...
					</p>
					<ng-template #skillsTemplate>
						<div
							class="skills-wrapper"
							formArrayName="skills"
						>
							<div
								*ngFor="let control of skillsControls; let idx = index"
								[formControlName]="idx"
								class="skill-control"
								ngDefaultControl
							>
								<label class="skill-label">
									{{ control.value }}
								</label>
								<button
									class="delete-job btn"
									(click)="removeSkill(idx)"
								>
									&times;
								</button>
							</div>
						</div>
					</ng-template>
				</div>

				<div
					class="validation"
					*ngIf="form.get('skills')?.get('skill')?.touched && form.get('skills')?.get('skills')?.errors?.['formArrayMinValuesQuantuty']"
				>
					<small
						*ngIf="form.get('skills')?.get('skills')?.errors?.['formArrayMinValuesQuantuty']"
					>
						You have to add at least
						{{form.get('skills')?.get('skills')?.errors?.['formArrayMinValuesQuantuty']?.['minValuesQuantity']}}
						skills,
						{{form.get('skills')?.get('skills')?.errors?.['formArrayMinValuesQuantuty']?.['remainValuesQuantity']}}
						more left
					</small>
				</div>
			</div>
		</div>
		<div
			class="work-wrapper field"
			formGroupName="jobs"
		>
			<label class="jobs-experience"
				>Write where you worked
				<label
					class="jobs-hasWorkExperience"
					for="hasWorkExperience"
					>Has work experience?
					<input
						type="checkbox"
						formControlName="hasWorkExperience"
						id="hasWorkExperience"
					/>
				</label>
			</label>
			<ng-container
				*ngIf="form.get('jobs')?.get('hasWorkExperience')?.value"
			>
				<div
					class="work-add"
					formArrayName="jobs"
					*ngFor="let control of jobsControls; let idx = index"
				>
					<div
						[formGroupName]="idx"
						class="job-control"
					>
						<label class="job-company">
							Company {{ idx + 1 }}
							<input
								type="text"
								formControlName="company"
							/>
							<div
								class="validation"
								*ngIf="
									form
										.get('jobs')
										?.get('jobs')
										?.get(idx.toString())
										?.get('company')?.invalid &&
									form
										.get('jobs')
										?.get('jobs')
										?.get(idx.toString())
										?.get('company')?.touched
								"
							>
								<small
									*ngIf="form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['required']"
								>
									Company can not be empty
								</small>
								<small
									*ngIf="form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['minlength']"
								>
									Min length is
									{{ form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['minlength']?.['requiredLength'] }}
									symbols. Enter
									{{ form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['minlength']?.['requiredLength'] - form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['minlength']?.['actualLength']}}
									more
								</small>
								<small
									*ngIf="form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['maxlength']"
								>
									Max length is
									{{ form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['maxlength']?.['requiredLength'] }}
									symbols. Exceeded by
									{{ form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['maxlength']?.['actualLength'] - form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('company')?.errors?.['maxlength']?.['requiredLength']}}
									characters
								</small>
							</div>
						</label>
						<label class="period">
							<label class="sub-period">
								Start
								<input
									type="text"
									formControlName="start"
								/>
								<div
									class="validation"
									*ngIf="
										form
											.get('jobs')
											?.get('jobs')
											?.get(idx.toString())
											?.get('start')?.invalid &&
										form
											.get('jobs')
											?.get('jobs')
											?.get(idx.toString())
											?.get('start')?.touched
									"
								>
									<small
										*ngIf="form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('start')?.errors?.['required']"
									>
										Start of period can not be empty
									</small>
								</div>
							</label>
							<label class="sub-period">
								End
								<input
									type="text"
									formControlName="end"
								/>
								<div
									class="validation"
									*ngIf="
										form
											.get('jobs')
											?.get('jobs')
											?.get(idx.toString())
											?.get('end')?.invalid &&
										form
											.get('jobs')
											?.get('jobs')
											?.get(idx.toString())
											?.get('end')?.touched
									"
								>
									<small
										*ngIf="form.get('jobs')?.get('jobs')?.get(idx.toString())?.get('end')?.errors?.['required']"
									>
										End of period can not be empty
									</small>
								</div>
							</label>
						</label>
						<button
							class="delete-job btn"
							(click)="removeJob(idx)"
						>
							&times;
						</button>
					</div>
				</div>
				<div class="job-add-and-validation">
					<button
						class="btn add-job"
						type="button"
						(click)="addJob()"
					>
						Add
					</button>
					<div
						class="validation"
						*ngIf="form.get('jobs')?.get('hasWorkExperience')?.value && form.get('jobs')?.get('jobs')?.errors?.['formArrayMinValuesQuantuty']"
					>
						<small
							*ngIf="form.get('jobs')?.get('jobs')?.errors?.['formArrayMinValuesQuantuty']"
						>
							You have to add at least
							{{form.get('jobs')?.get('jobs')?.errors?.['formArrayMinValuesQuantuty']?.['minValuesQuantity']}}
							jobs,
							{{form.get('jobs')?.get('jobs')?.errors?.['formArrayMinValuesQuantuty']?.['remainValuesQuantity']}}
							more left
						</small>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="footer-buttons">
		<button
			class="btn submit"
			type="submit"
			[disabled]="form.invalid"
		>
			Send
		</button>
		<button
			class="btn submit"
			(click)="reset()"
		>
			Reset
		</button>
	</div>
</form>
