header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;

	h1 {
		margin: 0;
		flex-grow: 1;
	}

	button {
		margin-left: auto;
	}

	.right {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.quantity {
		background-color: orange;
		border-radius: 8px;
		font-size: 1.25rem;
		color: black;
		padding: 0.5rem 1rem;
	}
}

.input-wrapper {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;

	input {
		padding: 0.5rem;
	}
	pre {
		background-color: #ccc;
		border-radius: 8px;
		padding: 0.5rem;
	}
}

.green {
	color: rgb(255, 0, 0);
}
