<header (click)="showTitle = !showTitle">
	<h1 *mvIfNot="showTitle">Hello mthrfckr</h1>
	<div class="right">
		<span class="quantity">{{
			(posts$ | async)?.length | zeroIfUndefinedOrNull | posts
		}}</span>
		<button
			class="btn theme"
			(click)="toggleDarkMode($event)"
		>
			{{ (darkTheme$ | async) ? 'Darkness..' : 'Light!' }}
		</button>
	</div>
	<mv-date-time></mv-date-time>
</header>
<mv-auth-form></mv-auth-form>
<div class="wrapper">
	<div class="input-wrapper">
		<mv-post-form></mv-post-form>
	</div>
	<mv-post-filter
		(onFieldChange)="field = $event"
		(onSearchChange)="search = $event"
	></mv-post-filter>
	<mv-post-list
		[posts]="posts$ | async"
		[field]="field"
		[search]="search"
	></mv-post-list>
	<!-- <div>
		<mv-post
			*ngFor="
				let post of (posts$ | async)?.reverse() | filter : field : search
			"
			[post]="post"
		>
			<div #size>
				<small *ngIf="post.body.length > 10; else short">Long post</small>
				<ng-template #short><small>Short post</small></ng-template>
			</div>
		</mv-post>
	</div> -->
</div>
