<header (click)="showTitle = !showTitle">
	<h1 *mvIfNot="showTitle">Hello mthrfckr</h1>
	<div class="right">
		<span class="quantity">{{ posts.length | posts }}</span>
		<button
			class="btn"
			(click)="toggleLightMode($event)"
		>
			{{ lightMode ? 'Darkness..' : 'Light!' }}
		</button>
	</div>
	<mv-date-time></mv-date-time>
</header>
<div class="wrapper">
	<div class="input-wrapper">
		<mv-post-form (onAdd)="addPost($event)"></mv-post-form>
	</div>
	<mv-post-filter
		(onFieldChange)="field = $event"
		(onSearchChange)="search = $event"
	></mv-post-filter>
	<div>
		<mv-post
			*ngFor="let post of posts.reverse() | filter : field : search"
			(onRemove)="removePost($event)"
			[post]="post"
		>
			<div #size>
				<small *ngIf="post.text.length > 10; else short">Long post</small>
				<ng-template #short><small>Short post</small></ng-template>
			</div>
		</mv-post>
	</div>
</div>
