<header>
	<h1>Hello mthrfckr</h1>
	<button
		class="btn"
		(click)="toggleLightMode()"
	>
		{{ lightMode ? 'Darkness..' : 'Light!' }}
	</button>
</header>
<div class="wrapper">
	<div class="input-wrapper">
		<mv-post-form (onAdd)="addPost($event)"></mv-post-form>
	</div>
	<div>
		<mv-post
			*ngFor="let post of posts.reverse()"
			(onRemove)="removePost($event)"
			[post]="post"
		>
			<div #size>
				<small *ngIf="post.text.length > 10; else short">Long post</small>
				<ng-template #short><small>Short post</small></ng-template>
			</div>
		</mv-post>
	</div>
</div>
