.post {
   background-color: bisque;
   border: 2px solid tomato;
   border-radius: 8px;
   width: 450px;
   padding: 2rem;
   margin-bottom: 1rem;

   h3 {
      font-size: 1.5rem;
   }

   .description {
      font-size: 1.25rem;
   }

   footer {
      font-size: 1rem;
      color: #ccc;
   }

}
