.post {
	background-color: bisque;
	border: 2px solid tomato;
	border-radius: 8px;
	padding: 2rem;
	margin-bottom: 1rem;
   position: relative;

	h3 {
		margin-top: 0;
		font-size: 1.5rem;
	}

	.description {
		font-size: 1.25rem;
		margin-bottom: 0;
	}

	footer {
		font-size: 1rem;
		color: #848484;
	}

   .size {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: burlywood;
      border-radius: 8px;
      padding: .5rem 1rem;
      display: inline-block;
   }
}
