.post {
	background-color: bisque;
	border: 2px solid tomato;
	color: black;
	border-radius: 8px;
	padding: 2rem;
	padding-right: 8.5rem;
	margin-bottom: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;

	&.isLoading {
		opacity: 0.4;
		pointer-events: none;
		user-select: none;
	}

	h3 {
		margin: 0;
		font-size: 1.5rem;
	}

	p {
		margin: 0;
	}

	.description {
		font-size: 1.25rem;
		margin-bottom: 0;
	}

	footer {
		font-size: 1rem;
		color: #848484;
	}

	.size {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		background-color: #ffd6a2;
		border-radius: 8px;
		padding: 0.5rem 1rem;
		display: inline-block;
	}

	.edit,
	.read-more,
	.delete {
		position: absolute;
		top: 1rem;
		font-size: 2.25rem;
		line-height: 1;
		border-radius: 100%;
		padding: 0;
		width: 40px;
		height: 40px;

		svg {
			fill: white;
		}
	}
	.delete {
		right: 1rem;
		padding-right: 2px;
		padding-top: 2px;
	}
	.edit {
		right: 4rem;
	}
	.read-more {
		right: 7rem;
		padding-top: 1px;
	}
}
input {
	padding: 0.5rem 0.75rem;
	outline: none;
	font-size: 1.25rem;
	border: 2px dashed transparent;
	transition: border-color 0.3s ease;
	background-color: #eee;
	border-radius: 8px;

	&:focus {
		border-color: tomato;
	}
}
