*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Kalam', cursive;

	&.darkness {
		background-color: rgb(32, 32, 32);
		color: white;
	}
}
.btn {
	padding: 0.5rem 1rem;
	border-radius: 8px;
	border: 2px solid darkorange;
	font-size: 1.25rem;
	background-color: #2f2f2f;
	color: whitesmoke;
	cursor: pointer;
}
button,
input,
textarea,
select,
option {
	font-family: inherit;
}

input {
	font-size: 1.25rem;
	height: 40px;
}

input.input {
	padding: 0.5rem;
	flex-grow: 1;
	font-size: 1.25rem;
	outline: none;
	border: 2px dashed transparent;
	transition: border-color 0.3s ease;
	background-color: #eee;
	border-radius: 8px;

	&:focus {
		border-color: tomato;
	}
}
